/* Reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  background-image: url('img/spbu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: fadeSlideIn 1s ease-out forwards;
}

@keyframes fadeSlideIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


nav {
  background: #444;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
    color: aqua;
}

section {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

#about, #contact {
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

#preset {
  background: #ffffff;
  border-radius: 10px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
}

#preset-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  font-weight: bold;
  color: rgb(255, 110, 180);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.gallery img:hover {
  transform: scale(1.03);
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
